.navbar {
  background: #333c45;
}

.navbar-brand#main {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}


.container#greyBack {
  background: grey;
  height: 100%;
  border: 1px solid black
}

html {margin:0;padding:0;height:100%;width:100%;}

div#lightName {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div.main {
  height: 100%;
  text-align: center;
}

div.buttonBox {
  display: flex;
  justify-content: center;
  height: 100%;
}

@media only screen and (min-width: 375px) {
  div.partNumber {
    padding-top: 30px;
    font-size: 1em;
  }
  /* img {
    width: 30%;
  }
  canvas {
    width: 30%;
  }
  div[style~='position: relative'] {
    width: 30%;
  } */
}

@media only screen and (min-width: 600px) {
  /* img {
    width: 55%;
  }
  canvas {
    width: 55%;
  } */
  
  div.partNumber {
    padding-top: 30px;
    font-size: .8em;
  }
}

/* @media only screen and (min-width: 900px) {
  img {
    width: 60%;
  }
  canvas {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  img:not(.mapped) {
    width: 80%;
  }
  canvas {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  img:not(.mapped) {
    width: 95%;
  }
  canvas {
    width: 95%;
  }
} */

div.version {
  display: flex;
  justify-content: center
}

.shortForm {
  width: 100px;
}

.unitContainer {
  position: relative;
  display: inline-block;
  margin-top: 5%;
  /* width: 100%; */
}

.unitContainerC {
  position: relative;
  display: inline-block;
  margin-top: 5%;
}

a {
  color: white;
}

a:hover {
  color: rgba(102, 102, 102, 0.5);
  text-decoration: none;
}

a.form {
  color: rgb(11, 81, 179);
  text-decoration: none;
}
