.navbar {
  background: #333c45;
}

.navbar-brand#main {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

div#lightName {
  display: flex;
  text-align: center;
  font-size: 25px;
}

.unitContainer {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  text-align: center;
  margin-top: 10px;
}

